[Desktop Entry]
Type=Application
Exec=conky
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Conky
Comment[en_US]=
X-GNOME-Autostart-Delay=0
